body {
  color: #ffffff;
  background-color: #1C1E1F;
}

a:link, a:visited, a:active, a:hover {
  color: #4EB3FA;
}

.h1, h1 {
border-bottom: 1px solid #a55151;
display: inline;
}

.col-md-4 {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

.alert-danger .alert-link {
color: #025aa5
}

.btn {
font-size: 1.5rem;
width: 200px;
height: 50px;
}

input.form-control {
max-width: 20% !important;
background-color: #1C1E1F;
border: none;
border-bottom: solid 1px #35393C;
color: #f5f5f5;
border-radius: 0px;
font-size: 1.5rem;
text-align: center;
}

input.form-control:focus {
background-color: #1C1E1F !important;
color: #f5f5f5;
text-align: center;
}

.input-group.mb-3 {
margin-left: auto;
margin-right: auto;
width: 24em;
}

.table td, .table th {
  vertical-align: middle;
  table-layout: fixed ;
  width: 25% ;
  border-bottom: solid 1px #35393C;
  border-top: solid 1px #35393C;
}

.version {
  font-size: .6em;
  color: #8f8f8f;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
